<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appid" value="wx34bd31c8bf72b589" />
    <add key="appsecret" value="b403c036ea2fda1743b6387a748d15d4" />
    <add key="mch_id" value="10035739" />
    
    <add key="constr" value="" />
    <add key="domain_name" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>