<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appid" value="wxd1310896f2aa68bb" />
    <add key="appsecret" value="97888e8b1110c8fb299c5a3525da9aab" />
    <add key="mch_id" value="10035739" />
    <add key="constr" value="server=snowmeet.database.chinacloudapi.cn;uid=cangjie;pwd=Jarrod780209;database=wechat_db"/>
    <add key="constr" value="" />
    <add key="domain_name" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>