<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="wxappid" value="wxf91253fd1c38d24e"/>
    <add key="wxappsecret" value="ef5c0cb306e36380c0cfd49f40991194"/>
    <add key="appid" value="wxd1310896f2aa68bb" />
    <add key="appsecret" value="97888e8b1110c8fb299c5a3525da9aab" />
    <add key="mch_id" value="1604236346" />


    <add key="constr" value="server=52.80.17.211,9753;uid=sa;pwd=Jarrod780209;database=snowmeet;max pool size=1000;CONNECT Timeout=60" />

    
    <add key="domain_name" value="mini.snowmeet.top" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="12000"/>
  </system.web>

  <!--security>
    <requestFiltering >
      <requestLimits maxAllowedContentLength="2147483647" ></requestLimits>
    </requestFiltering>
  </security-->

</configuration>